In [ ]:
%autosave 0

Autosave disabled

#Library

In [ ]:
import os
import pandas as pd
import numpy as np
import re
import collections
import pickle
from ast import literal_eval

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Distance and Scenario 1 files

In [ ]:
# open dataframe with scenarios

save_loc = '/content/drive/Shareddrives/Private Unlimited Drive #1/DDS/Analytics Project/Coding'

warmze_instance_scenario_1 = pickle.load(open(save_loc + "/warmze_instance_scenario_1.p", "rb"))

In [ ]:
warmze_instance_scenario_1.head()

,PostObjectID,district,region,RoutePosID,BRIEFE,PAKETE,SONSTIGE,day,scenario_1_briefe,scenario_1_pakete,scenario_1_all
0,2350,31603-06_warmze,Warmze,F48CB0CACD49117AE030007F0100574C,0.477895,0.098421,0.316316,Dienstag,0,0,0
1,2349,31603-06_warmze,Warmze,F48CB0CACD48117AE030007F0100574C,0.000000,0.000000,0.000000,Dienstag,0,0,0
2,2348,31603-06_warmze,Warmze,F48CB0CACD47117AE030007F0100574C,1.433684,0.295263,0.948947,Dienstag,1,0,1
3,2346,31603-06_warmze,Warmze,F48CB0CACD44117AE030007F0100574C,0.955789,0.196842,0.632632,Dienstag,0,0,0
4,2347,31603-06_warmze,Warmze,F48CB0CACD45117AE030007F0100574C,0.477895,0.098421,0.316316,Dienstag,0,0,0

In [ ]:
warmze_instance_scenario_1.shape

(33234, 11)

In [ ]:
# open file with distance matrices

save_loc_distance = '/content/drive/Shareddrives/Private Unlimited Drive #1/DDS/Analytics Project/Coding'

warmze_distance = pickle.load(open(save_loc + "/warmze_distances_base.p", "rb"))

In [ ]:
warmze_distance.keys()

dict_keys(['31606-14_warmze', '31600-01_warmze', '31606-13_warmze', '31600-04_warmze', '31600-02_warmze', '31606-11_warmze', '31603-08_warmze', '31603-05_warmze', '31603-06_warmze', '31604-09_warmze', '31604-10_warmze', '31606-12_warmze', '31600-03_warmze', '31603-07_warmze'])

In [ ]:
warmze_distance['31606-14_warmze']

array([[0.00000e+00, 9.17566e+03, 9.14588e+03, ..., 4.85488e+03,
        4.85166e+03, 5.48821e+03],
       [9.19707e+03, 0.00000e+00, 2.97800e+01, ..., 6.55782e+03,
        6.55460e+03, 5.13000e+03],
       [9.16729e+03, 2.97800e+01, 0.00000e+00, ..., 6.52804e+03,
        6.52482e+03, 5.10022e+03],
       ...,
       [4.84881e+03, 6.58457e+03, 6.55479e+03, ..., 0.00000e+00,
        3.22000e+00, 1.69597e+03],
       [4.84559e+03, 6.58135e+03, 6.55157e+03, ..., 3.22000e+00,
        0.00000e+00, 1.69275e+03],
       [5.48993e+03, 5.11162e+03, 5.08184e+03, ..., 1.70893e+03,
        1.70571e+03, 0.00000e+00]])

#Post Object and Post Point Files

In [ ]:
dir_warmze = '/content/drive/Shareddrives/Private Unlimited Drive #1/DDS/Analytics Project/AOP_DP_Analytics/Data/Instances/Warmsen'

# Read the CSV file using the relative file path
po_warmze = pd.read_csv(dir_warmze + '/post_order_id_mapping.dat', sep='\t', names=('PostObjectId', 'RoutePosID'))
pp_warmze = pd.read_csv(dir_warmze + '/post_point_information.dat', sep='\t', names=('PostPointId', 'PostObjectId'))

In [ ]:
pp_warmze.shape

(5226, 2)

In [ ]:
# Convert 'PostObjectId' column from string to list
pp_warmze['PostObjectId'] = pp_warmze['PostObjectId'].apply(literal_eval)
pp_warmze.rename(columns = {'PostObjectId': 'PostObjectID'}, inplace = True)

# Use explode() to split the "PostObjectId" column into different rows
pp_warmze = pp_warmze.explode('PostObjectID', ignore_index=True)
pp_warmze.head(10)

   PostPointId PostObjectID
0            0            0
1            0          113
2            1            1
3            2            2
4            3            3
5            4            4
6            5            5
7            6            6
8            7            7
9            8            8

In [ ]:
pp_warmze.shape

(5555, 2)

In [ ]:
# merge to obtain both post point and post object

df_merged = pd.merge(warmze_instance_scenario_1, pp_warmze, on='PostObjectID', how='left')

df_merged.shape

(33234, 12)

In [ ]:
warmze_instance_scenario_1.shape

(33234, 11)

In [ ]:
df_merged.head()

,PostObjectID,district,region,RoutePosID,BRIEFE,PAKETE,SONSTIGE,day,scenario_1_briefe,scenario_1_pakete,scenario_1_all,PostPointId
0,2350,31603-06_warmze,Warmze,F48CB0CACD49117AE030007F0100574C,0.477895,0.098421,0.316316,Dienstag,0,0,0,2233
1,2349,31603-06_warmze,Warmze,F48CB0CACD48117AE030007F0100574C,0.000000,0.000000,0.000000,Dienstag,0,0,0,2232
2,2348,31603-06_warmze,Warmze,F48CB0CACD47117AE030007F0100574C,1.433684,0.295263,0.948947,Dienstag,1,0,1,2231
3,2346,31603-06_warmze,Warmze,F48CB0CACD44117AE030007F0100574C,0.955789,0.196842,0.632632,Dienstag,0,0,0,2230
4,2347,31603-06_warmze,Warmze,F48CB0CACD45117AE030007F0100574C,0.477895,0.098421,0.316316,Dienstag,0,0,0,2230

In [ ]:
#
df_merged_dienstag = df_merged[df_merged['day'] != 'Dienstag'] 
df_merged_dienstag_sc1 = df_merged_dienstag[df_merged_dienstag['scenario_1_briefe'] != 0]
# pp_id = df_merged_dienstag_sc1['PostPointId'].value_counts().index
pp_id = df_merged_dienstag_sc1['PostPointId'].unique()

In [ ]:
pp_id

array([2231, 2230, 2228, ...,   93,   67,   51])

In [ ]:
# 1 district
# will be repeated for every district, day, type

district_path = '/content/drive/Shareddrives/Private Unlimited Drive #1/DDS/Analytics Project/AOP_DP_Analytics/Data/Instances/Warmsen/Districts'

rows_needed = [1]

file_district = pd.read_csv(district_path + '/31606-12.dat', sep='\t', skiprows = lambda x : x not in rows_needed,
                            names=('dum_0', 'start_point', 'end_point', 'dum_1', 'dum_2', 'dum_3', 'dum_4', 'dum_5', 'dum_6')
                              # usecols = [0]
                            )

In [ ]:
file_district

   dum_0  start_point  end_point  dum_1  dum_2  dum_3  dum_4  dum_5  dum_6
0      2            0       4194      0      2      0     35      0      0

In [ ]:
start_point = file_district['start_point'][0]
end_point = file_district['end_point'][0]

In [ ]:
points = [start_point, end_point]

for point in points:
  if point not in pp_id:
    print('no')
    pp_id.append(point)
  else:
    print('yeah')

yeah
yeah

#Adapted Distance Matrix : Prom Style

In [ ]:
# 1 district

distance_warmsen_dir = '/content/drive/Shareddrives/Private Unlimited Drive #1/DDS/Analytics Project/AOP_DP_Analytics/Data/Instances/Warmsen/distances'

distr_dist = pd.read_csv(distance_warmsen_dir + '/distances_31606-12.dat' ,
                                  names=['pp_1', 'pp_2', 'dist']
                                  )

distr_dist.head()

   pp_1  pp_2     dist
0  4912  4912     0.00
1  4912  4913     7.81
2  4912  4914    14.25
3  4912  5022  1203.87
4  4912  5023  1203.46

In [ ]:
distr_dist_v2 = distr_dist[(distr_dist['pp_1'].isin(pp_id)) & (distr_dist['pp_2'].isin(pp_id))]

In [ ]:
distr_dist.shape

(176400, 3)

In [ ]:
distr_dist_v2.shape

(91204, 3)

In [ ]:
dist_mat_dist = distr_dist_v2.set_index(['pp_1', 'pp_2'])['dist'].unstack().values
dist_mat_dist.shape

(302, 302)

In [ ]:
dist_mat_dist_v0 = distr_dist.set_index(['pp_1', 'pp_2'])['dist'].unstack().values
dist_mat_dist_v0.shape

(420, 420)

#Adapted Distance Matrix : Jullien Style

In [ ]:
dist_mtr = distr_dist.pivot(index = 'pp_1', columns = 'pp_2', values = 'dist')
dist_mtr

pp_2,0,4194,4808,4809,4810,4811,4812,4813,4814,4815,...,5216,5217,5218,5219,5220,5221,5222,5223,5224,5225
pp_1,,,,,,,,,,,,,,,,,,,,,
0,0.00,4808.19,5587.60,5605.83,5580.61,5610.62,5589.13,5607.36,5582.14,5609.09,...,5151.09,5129.42,5159.19,5148.02,5148.37,5302.00,5291.18,5302.03,5149.74,5135.00
4194,4802.62,0.00,1659.50,1677.73,1652.51,1682.52,1661.03,1679.26,1654.04,1680.99,...,987.14,965.47,995.24,984.07,984.42,1138.05,1127.23,1138.08,985.79,971.05
4808,5598.28,1665.51,0.00,18.23,6.99,25.22,15.51,29.28,8.52,35.47,...,1365.94,1344.27,1374.04,1362.87,1363.22,1516.85,1506.03,1516.88,1364.59,1349.85
4809,5580.05,1647.28,18.23,0.00,25.22,6.99,29.28,17.44,26.75,24.43,...,1347.71,1326.04,1355.81,1344.64,1344.99,1498.62,1487.80,1498.65,1346.36,1331.62
4810,5603.07,1670.30,6.99,25.22,0.00,30.01,8.52,26.75,1.53,28.48,...,1370.73,1349.06,1378.83,1367.66,1368.01,1521.64,1510.82,1521.67,1369.38,1354.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5221,5279.06,1125.55,1508.89,1527.12,1501.90,1531.91,1510.42,1528.65,1503.43,1530.38,...,161.41,172.58,142.81,180.68,181.03,0.00,323.84,0.03,229.65,299.85
5222,5290.58,1137.07,1520.41,1538.64,1513.42,1543.43,1521.94,1540.17,1514.95,1541.90,...,172.93,161.76,181.03,143.16,142.81,323.84,0.00,323.87,308.42,229.62
5223,5279.09,1125.58,1508.92,1527.15,1501.93,1531.94,1510.45,1528.68,1503.46,1530.41,...,161.44,172.61,142.84,180.71,181.06,0.03,323.87,0.00,229.62,299.88
5224,5126.58,973.07,1356.41,1374.64,1349.42,1379.43,1357.94,1376.17,1350.95,1377.90,...,168.11,146.44,176.21,165.04,165.39,229.65,308.20,229.62,0.00,141.52
5225,5134.18,980.67,1364.01,1382.24,1357.02,1387.03,1365.54,1383.77,1358.55,1385.50,...,153.37,131.70,161.47,150.30,150.65,304.28,229.62,304.31,141.52,0.00

In [ ]:
dist_mtr[0][4194]

4802.619999999999

In [ ]:
dist_mat_dist_jullien = distr_dist_v2.pivot(index = 'pp_1', columns = 'pp_2', values = 'dist')
dist_mat_dist_jullien

pp_2,0,4194,4814,4815,4816,4819,4820,4821,4822,4823,...,5215,5216,5217,5218,5219,5221,5222,5223,5224,5225
pp_1,,,,,,,,,,,,,,,,,,,,,
0,0.00,4808.19,5582.14,5609.09,5589.97,5618.38,5622.65,5606.43,5604.42,5617.21,...,5134.67,5151.09,5129.42,5159.19,5148.02,5302.00,5291.18,5302.03,5149.74,5135.00
4194,4802.62,0.00,1654.04,1680.99,1661.87,1545.71,1552.10,1547.52,1545.51,1546.79,...,970.72,987.14,965.47,995.24,984.07,1138.05,1127.23,1138.08,985.79,971.05
4814,5601.54,1668.77,0.00,26.95,7.83,634.93,639.20,622.98,620.97,633.76,...,1352.78,1369.20,1347.53,1377.30,1366.13,1520.11,1509.29,1520.14,1367.85,1353.11
4815,5574.59,1641.82,30.36,0.00,34.79,607.98,612.25,596.03,594.02,606.81,...,1325.83,1342.25,1320.58,1350.35,1339.18,1493.16,1482.34,1493.19,1340.90,1326.16
4816,5600.65,1667.88,16.56,26.06,0.00,634.04,638.31,622.09,620.08,632.87,...,1351.89,1368.31,1346.64,1376.41,1365.24,1519.22,1508.40,1519.25,1366.96,1352.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5221,5279.06,1125.55,1503.43,1530.38,1511.26,1395.10,1401.49,1396.91,1394.90,1396.18,...,167.33,161.41,172.58,142.81,180.68,0.00,323.84,0.03,229.65,299.85
5222,5290.58,1137.07,1514.95,1541.90,1522.78,1406.62,1413.01,1408.43,1406.42,1407.70,...,156.51,172.93,161.76,181.03,143.16,323.84,0.00,323.87,308.42,229.62
5223,5279.09,1125.58,1503.46,1530.41,1511.29,1395.13,1401.52,1396.94,1394.93,1396.21,...,167.36,161.44,172.61,142.84,180.71,0.03,323.87,0.00,229.62,299.88
5224,5126.58,973.07,1350.95,1377.90,1358.78,1242.62,1249.01,1244.43,1242.42,1243.70,...,151.69,168.11,146.44,176.21,165.04,229.65,308.20,229.62,0.00,141.52
5225,5134.18,980.67,1358.55,1385.50,1366.38,1250.22,1256.61,1252.03,1250.02,1251.30,...,136.95,153.37,131.70,161.47,150.30,304.28,229.62,304.31,141.52,0.00

In [ ]:
# ori_pp = dist_mtr.columns.tolist()
# adapted_pp = dist_mat_dist_jullien.columns.tolist()

# removed_nodes = ori_pp.copy()

# for node in

In [ ]:
map_val = list(range(0, len(dist_mat_dist_jullien)))
nodes = dist_mat_dist_jullien.index.values.tolist()

mapping = dict(zip(map_val, nodes))

mapping

{0: 0,
 1: 4194,
 2: 4814,
 3: 4815,
 4: 4816,
 5: 4819,
 6: 4820,
 7: 4821,
 8: 4822,
 9: 4823,
 10: 4824,
 11: 4825,
 12: 4826,
 13: 4827,
 14: 4828,
 15: 4829,
 16: 4830,
 17: 4831,
 18: 4832,
 19: 4833,
 20: 4834,
 21: 4836,
 22: 4837,
 23: 4838,
 24: 4839,
 25: 4840,
 26: 4841,
 27: 4843,
 28: 4844,
 29: 4846,
 30: 4847,
 31: 4848,
 32: 4849,
 33: 4850,
 34: 4852,
 35: 4853,
 36: 4856,
 37: 4857,
 38: 4858,
 39: 4860,
 40: 4861,
 41: 4862,
 42: 4863,
 43: 4864,
 44: 4866,
 45: 4867,
 46: 4868,
 47: 4870,
 48: 4871,
 49: 4872,
 50: 4873,
 51: 4875,
 52: 4876,
 53: 4877,
 54: 4878,
 55: 4879,
 56: 4880,
 57: 4881,
 58: 4882,
 59: 4883,
 60: 4884,
 61: 4885,
 62: 4886,
 63: 4887,
 64: 4888,
 65: 4889,
 66: 4890,
 67: 4891,
 68: 4892,
 69: 4893,
 70: 4894,
 71: 4895,
 72: 4896,
 73: 4897,
 74: 4898,
 75: 4899,
 76: 4900,
 77: 4901,
 78: 4902,
 79: 4904,
 80: 4905,
 81: 4906,
 82: 4907,
 83: 4908,
 84: 4911,
 85: 4913,
 86: 4917,
 87: 4918,
 88: 4920,
 89: 4921,
 90: 4922,
 91: 4925,
 92: 4926,
 93: 4927,
 94: 4928,
 95: 4929,
 96: 4935,
 97: 4938,
 98: 4939,
 99: 4941,
 100: 4944,
 101: 4945,
 102: 4946,
 103: 4947,
 104: 4948,
 105: 4949,
 106: 4950,
 107: 4951,
 108: 4952,
 109: 4953,
 110: 4954,
 111: 4955,
 112: 4957,
 113: 4958,
 114: 4959,
 115: 4961,
 116: 4962,
 117: 4963,
 118: 4964,
 119: 4965,
 120: 4966,
 121: 4967,
 122: 4968,
 123: 4969,
 124: 4970,
 125: 4971,
 126: 4972,
 127: 4973,
 128: 4974,
 129: 4975,
 130: 4976,
 131: 4977,
 132: 4982,
 133: 4987,
 134: 4992,
 135: 4993,
 136: 4994,
 137: 4995,
 138: 4996,
 139: 4997,
 140: 4998,
 141: 4999,
 142: 5000,
 143: 5001,
 144: 5002,
 145: 5003,
 146: 5005,
 147: 5007,
 148: 5008,
 149: 5009,
 150: 5010,
 151: 5011,
 152: 5012,
 153: 5013,
 154: 5014,
 155: 5015,
 156: 5017,
 157: 5018,
 158: 5020,
 159: 5021,
 160: 5022,
 161: 5023,
 162: 5024,
 163: 5025,
 164: 5027,
 165: 5028,
 166: 5029,
 167: 5032,
 168: 5033,
 169: 5035,
 170: 5036,
 171: 5037,
 172: 5039,
 173: 5040,
 174: 5041,
 175: 5042,
 176: 5043,
 177: 5044,
 178: 5045,
 179: 5046,
 180: 5047,
 181: 5048,
 182: 5050,
 183: 5053,
 184: 5054,
 185: 5056,
 186: 5057,
 187: 5063,
 188: 5066,
 189: 5067,
 190: 5068,
 191: 5069,
 192: 5071,
 193: 5073,
 194: 5074,
 195: 5075,
 196: 5077,
 197: 5078,
 198: 5079,
 199: 5080,
 200: 5082,
 201: 5083,
 202: 5084,
 203: 5085,
 204: 5086,
 205: 5087,
 206: 5088,
 207: 5089,
 208: 5090,
 209: 5091,
 210: 5094,
 211: 5097,
 212: 5098,
 213: 5100,
 214: 5101,
 215: 5102,
 216: 5105,
 217: 5108,
 218: 5109,
 219: 5110,
 220: 5111,
 221: 5112,
 222: 5113,
 223: 5114,
 224: 5115,
 225: 5116,
 226: 5118,
 227: 5119,
 228: 5120,
 229: 5123,
 230: 5125,
 231: 5126,
 232: 5127,
 233: 5128,
 234: 5129,
 235: 5130,
 236: 5131,
 237: 5132,
 238: 5133,
 239: 5134,
 240: 5135,
 241: 5136,
 242: 5137,
 243: 5138,
 244: 5139,
 245: 5140,
 246: 5142,
 247: 5144,
 248: 5145,
 249: 5146,
 250: 5147,
 251: 5148,
 252: 5149,
 253: 5151,
 254: 5152,
 255: 5153,
 256: 5154,
 257: 5155,
 258: 5156,
 259: 5157,
 260: 5158,
 261: 5160,
 262: 5162,
 263: 5163,
 264: 5164,
 265: 5166,
 266: 5169,
 267: 5171,
 268: 5172,
 269: 5173,
 270: 5174,
 271: 5175,
 272: 5176,
 273: 5177,
 274: 5178,
 275: 5179,
 276: 5198,
 277: 5199,
 278: 5200,
 279: 5202,
 280: 5203,
 281: 5204,
 282: 5205,
 283: 5206,
 284: 5207,
 285: 5208,
 286: 5209,
 287: 5210,
 288: 5211,
 289: 5212,
 290: 5213,
 291: 5214,
 292: 5215,
 293: 5216,
 294: 5217,
 295: 5218,
 296: 5219,
 297: 5221,
 298: 5222,
 299: 5223,
 300: 5224,
 301: 5225}

In [ ]:
dist_mtr_adapted = dist_mat_dist_jullien.to_numpy()
dist_mtr_adapted

array([[   0.  , 4808.19, 5582.14, ..., 5302.03, 5149.74, 5135.  ],
       [4802.62,    0.  , 1654.04, ..., 1138.08,  985.79,  971.05],
       [5601.54, 1668.77,    0.  , ..., 1520.14, 1367.85, 1353.11],
       ...,
       [5279.09, 1125.58, 1503.46, ...,    0.  ,  229.62,  299.88],
       [5126.58,  973.07, 1350.95, ...,  229.62,    0.  ,  141.52],
       [5134.18,  980.67, 1358.55, ...,  304.31,  141.52,    0.  ]])